


.MainContent{
    width: auto;
    height: 1000px;
    margin: 50px 500px 50px 500px;
    overflow: auto;

}

.Content{
    width: auto;
    margin-top: 100px;

    height: 800px;
    display: flex;

}

#mainImg{
    margin-top: 60px;
    width: 200px;
    height: 200px;
}
.substance{
    width: auto;
    height: 300px;
    margin-left: 50px;
    
}

.Title{
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
}

.TitleName{
    font-size: 40px;
    font-weight: 700;
}

.Summary{
    word-break: break-all;
    font-size: 25px;
    font-weight: 400;
}

.Rating{
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
}

#titleStar{
    margin-left: 20px;
}

.Tags{
    margin-top: 30px;
    width: auto;
    height: 150px;
    background-color: white;

}

#Chip{
    margin-left: 20px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #8AC2F7;
    font-size: 20px;

}