.Title{
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
}

.TitleName{
    font-size: 40px;
    font-weight: 700;
    margin-right: 20px;
}

.Rating{
    font-size: 40px;
    font-weight: 700;
    margin-left: 5px;
}

.titleStar{
    margin-left: 20px;
}
